section {
  padding-top: 3rem;
}

.jumbotron {
  background-image: url(image/label1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 20px;
  background-position: center;
}

.jumbotron svg {
  margin-top: -50px;
}

body p {
  font-family: "Berkshire Swash", cursive;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.jumbotron p {
  font: weight 100px;
}

h1 {
  font-family: "Titan One", cursive;
  font-weight: bold;
  margin-top: 20px;
  color: black;
}

#Produk {
  background-color: silver;
  margin-top: -30px;
  margin-bottom: -100px;
}

#Produk .container {
  width: 100%;
}

#Produk img {
}

#Produk svg {
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: "Titan One", cursive;
  color: black;
}

h3 {
  font-size: 30px;
  border: 2px;
  background: deeppink;
  border-radius: 10px;
  height: max-content;
  width: max-content;
  margin-top: 20px;
}

h4 {
  font-size: 30px;
  background: deeppink;
  border-radius: 10px;
  height: max-content;
  width: max-content;
  margin-top: 20px;
}

h5 {
  font-size: 30px;
  background: deeppink;
  border-radius: 10px;
  height: max-content;
  width: max-content;
  margin-top: 20px;
}

#Testimoni {
  background-color: white;
}

img {
  margin: 10px 10px 10px 0px;
}

p {
  font-size: 25px;
  margin: 20px 10px 10px 0px;
  color: black;
}

h6 {
  text-align: center;
  font-size: 40px;
  font-family: "Titan One", cursive;
  color: black;
}

h7 {
  text-align: center;
  font-size: 40px;
  font-family: "Titan One", cursive;
  color: black;
}

#Contact {
  text-align: center;
  background-color: silver;
}

.instagram {
  font-size: 80px;
}

.instagram p {
  margin-top: 50px;
  margin-bottom: -10px;
}

.whatapps {
  font-size: 80px;
}

.whatapps p {
  margin-top: 30px;
  margin-bottom: -10px;
}

#Contact p {
  text-align: center;
}
